---
import SEO from '../components/SEO.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

interface Props {
  title: string;
  description: string;
  ogImage?: string;
  ogType?: 'website' | 'article';
  pubDate?: Date;
  updatedDate?: Date;
  noindex?: boolean;
}

const props = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <SEO {...props} />
    <meta name="google-site-verification" content="uBagleSbSIHDy_3tjOhE-FFWSoKf_w6jXSB0hqk39F4" />
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    <Header />
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>

    <main id="main-content">
      <slot />
    </main>

    <Footer />
  </body>
</html>
